  /* Göktuğ */
.form-row{
    margin: 10px;
  }

  /* ---- base ---- */

  html,body{
  	width:100%;
  	height:100%;
  	background:#111;
  }


  body{
    font:normal 75% Arial, Helvetica, sans-serif;
  }
